/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * area-extended:
 *   - http://typekit.com/eulas/0000000000000000775ac6c6
 *   - http://typekit.com/eulas/0000000000000000775ac6c8
 * brooklyn-heritage-script:
 *   - http://typekit.com/eulas/0000000000000000775d8239
 *   - http://typekit.com/eulas/0000000000000000775d823a
 * iowan-old-style-bt:
 *   - http://typekit.com/eulas/000000000000000077559b59
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2026-03-11 18:19:55 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=yvk0pve&ht=tk&f=51691.51694.60039.61741.61742&a=17489371&app=typekit&e=css");

@font-face {
font-family:"area-extended";
src:url("https://use.typekit.net/af/3defd7/0000000000000000775ac6c6/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3defd7/0000000000000000775ac6c6/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3defd7/0000000000000000775ac6c6/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"area-extended";
src:url("https://use.typekit.net/af/8d33d2/0000000000000000775ac6c8/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/8d33d2/0000000000000000775ac6c8/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/8d33d2/0000000000000000775ac6c8/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"iowan-old-style-bt";
src:url("https://use.typekit.net/af/4b32a3/000000000000000077559b59/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/4b32a3/000000000000000077559b59/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/4b32a3/000000000000000077559b59/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"brooklyn-heritage-script";
src:url("https://use.typekit.net/af/f22fbb/0000000000000000775d8239/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f22fbb/0000000000000000775d8239/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f22fbb/0000000000000000775d8239/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"brooklyn-heritage-script";
src:url("https://use.typekit.net/af/e8333e/0000000000000000775d823a/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e8333e/0000000000000000775d823a/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e8333e/0000000000000000775d823a/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-area-extended { font-family: "area-extended",sans-serif; }
.tk-iowan-old-style-bt { font-family: "iowan-old-style-bt",sans-serif; }
.tk-brooklyn-heritage-script { font-family: "brooklyn-heritage-script",sans-serif; }
